.loginContainer {
  display: flex;
  flex-direction: row;
  width: 98%;
}

.loginImageCollum {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  width: 80rem;
  border-right: 0.3rem solid #35abd0;
}

.loginImage {
  width: 10rem;
  margin-left: 45rem;
}
