.formRegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: 40rem;
}
.formRegisterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.formRegisterHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.formRegisterTitle {
  color: #12619d;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.formRegisterSubTitle {
  color: #4682b4;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formRegisterInputGroup {
  display: flex;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}

.formRegisterEnterButton {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0.3125rem;
  color: #4682b4;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}
.formEnterRegisterButton:disabled {
  cursor: not-allowed;
}

.formRegisterAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.formRegisterLinks {
  color: #4682b4;
  font-family: Segoe UI;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
