.recordsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
  margin-top: 4rem;
  width: 60rem;
}

.recordsSearch {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.recordsContent {
  display: flex;
  width: 909px;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 2rem;
  flex-shrink: 0;
}

.div1 {
  width: 909px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18rem;

  flex-shrink: 0;
}
.div2 {
  background-color: aliceblue;
  width: 60rem;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 18rem;
  font-size: 1.5rem;

  flex-shrink: 0;
}

.Row {
  display: flex;
  flex-direction: row;
}
